!!!
%html
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title Xアカウント切り替え
    %link{ rel: "stylesheet", href: "styles.css" }
  %body.popup
    %h2 アカウント管理

    %h3 アカウント一覧
    #account-list

    %a{ href: "settings.html", target: "_blank" } アカウント詳細ページへ

    %script{ src: "popup.js" }
